criteo_pres.5.vrb
criteo_pres.9.vrb
criteo_pres.aux
criteo_pres.bcf
criteo_pres.html
criteo_pres.log
criteo_pres.out
criteo_pres.tex
criteo_pres.32.vrb
criteo_pres.bbl
criteo_pres.blg
criteo_pres.fdb_latexmk
criteo_pres.fls
criteo_pres.nav
criteo_pres.run.xml
criteo_pres.snm
criteo_pres.toc

texput.fls
texput.log
